* {
  margin: 0;
  padding: 0;
}

.btnn {
  float: right;
  margin: 10px;
}

@media (max-width: 990px) {
  tr > td {
    font-size: 15px;
  }

  .delbtn {
    align-items: center;
  }

  .delbtn__img {
    height: 10px;
    width: 10px;
  }
}

@media (max-width: 425px) {
  tr > td {
    font-size: 10px;
  }
}
